<a href="https://colab.research.google.com/github/OTL15/BTE320/blob/main/OTLInClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Shape Area Calculator

In [ ]:
pi = 3.14
radius = 3 # radius of circle
height = 10 # height of cylinder

# Calculate Surface Area
SA = 2*pi*radius**2 + 2*pi*radius*height
# Display result
print(SA)

244.92000000000002

2. Rock-paper-scissors (with the while loop)

In [ ]:
import random
choice = input('Do you want to play a game of rock, paper, scissors? (Yes or No). ')
if choice == 'No':
  print('Come play another time!')

while choice == 'Yes':
  p1 = input('Player 1--> Choose Rock, Paper, or Scissors:  ')
  p2 = random.choice(['Rock', 'Paper', 'Scissors'])
  print(f'Computer chose {p2}')

  if p1 == p2:
    print('Draw')
  elif ((p1 == 'Rock' and p2 == 'Scissors') or
    (p1 == 'Scissors' and p2 == 'Paper') or
    (p1 == 'Paper' and p2 == 'Rock')):
    print('Player 1 wins')
  else:
    print('Computer wins!')
  choice = input('Do you want to play a game? (Yes or No). ')

Do you want to play a game of rock, paper, scissors? (Yes or No). No
Come play another time!

3. Numerical calculator

In [ ]:
print('Enter numbers into the calculator')

n1 = float(input('n1 = '))
symbol = str(input('symbol (+, -, *, /, **): '))
n2 = float(input('n2 = '))

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

Enter numbers into the calculator
n1 = 5
symbol (+, -, *, /, **): **
n2 = 3
125.0

4. Parking Garage

In [ ]:
flatRate = 5
hourlyRate = 2.5

for hour in range(1,9,1):
  charge = flatRate + hourlyRate * hour
  if charge<10:
    charge=10.0
  elif charge>20:
    charge=20.0
  print(hour,charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

5. Movie Theater

In [ ]:
for ad in range(0,201,25):
  additional = 2 * (ad**0.5)
  profit = (20+additional)*10-200-ad
  print(ad,profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

6. Inputs until 0

In [ ]:
print('To play the game you must input integers. To end the game you must input the correct integer.')

L = []

Item = int(input('Input an integer: '))
while Item != 0:
    L.append(Item)
    print(L)
    Item = int(input('Input an integer: '))
print('Game Over')

To play the game you must input integers. To end the game you must input the correct integer.
Input an integer: 1
[1]
Input an integer: 2
[1, 2]
Input an integer: 5
[1, 2, 5]
Input an integer: 0
Game Over

6. Months2Numbers dictionary

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

8. House Hunting

In [ ]:
portion_down_payment = 0.25
current_savings = 0
r = .04
months = 0
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
while current_savings < (total_cost*portion_down_payment):
  current_savings += (current_savings*r/12)
  current_savings = current_savings+((annual_salary/12)*portion_saved)
  months = months + 1
print("Number of Months:", months)

Enter your annual salary: 100000
Enter the percent of your salary to save, as decimal: 0.1
Enter the cost of your dream home: 800000
Number of Months: 177

9. Saving with raise

In [ ]:
portion_down_payment = 0.25
current_savings = 0
r = .04
months = 0
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter semi annual raise: "))
while current_savings < (total_cost*portion_down_payment):
  current_savings += (current_savings*r/12)
  current_savings = current_savings+((annual_salary/12)*portion_saved)
  months = months + 1
  if months%6 == 0:
    annual_salary = annual_salary+(annual_salary * semi_annual_raise)
print("Number of Months: ", months)

Enter your annual salary: 100000
Enter the percent of your salary to save, as decimal: 0.1
Enter the cost of your dream home: 800000
Enter semi annual raise2500
Number of Months:  7

10. Check if a number is within range

In [ ]:
def range_check (high, low, value):
  if value > low and value < high:
    print(f"This value ({value}) is within range{low,high}")
  else:
    print(f"This value ({value}) is not within the range{low,high}")

range_check(10,2,11)

This value (11) is not within the range(2, 10)

11. Parking Garage 2

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
print(f)

Enter hours for parking: 5
17.5

12. Parking Garage 3

In [ ]:
def displayFee(fee):
  print(fee)

def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
displayFee(f)

Enter hours for parking: 10
30.0

8. Reverse function (recursion)

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('Monday')

'yadnoM'

9. Weighted Average

In [ ]:
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Division by zero.")
    return[]
  except TypeError:
    print("Non-Numerical objects found.")
    return[]
  except Exception as e:
    print(f'Unknown error: (e)')
    return float('nan')

wAvg([1,2,3], [.1,.3,.4])

2.375

10. Classes

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}.'

s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

print(s1)

Name: James Bond.

Not sure if this one counts but, 1.b Class&Attribute

In [3]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.__courses = []

  def enroll(self,course):
    if course not in self.__courses:
      self.__courses.append(course)
    else:
      print(f'You have already enrolled in course: (course)')

  def get_courses(self):
    return self.__courses

s = Student('Bob', '123')
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')

s.get_courses()

['ABC123', 'ABC456', 'ABC789']

In [4]:
s.enroll('ABC123')

You have already enrolled in course: (course)